In [1]:
import pandas as pd
import numpy as np

In [2]:
events_data = pd.read_csv('data/event_data_train.zip')
submission_data = pd.read_csv('data/submissions_data_train.zip')

submission_data.head()

   step_id   timestamp submission_status  user_id
0    31971  1434349275           correct    15853
1    31972  1434348300           correct    15853
2    31972  1478852149             wrong    15853
3    31972  1478852164           correct    15853
4    31976  1434348123             wrong    15853

In [3]:
# задача - найти степ-гроб. Степ, после которого наибольшая часть 
# пользователей больше ничего не сабмитила и не пыталась

# 1. выбираем все степы у которых сабмит wrong и берем из них максимальные таймстемпы
df = submission_data[submission_data['submission_status']=='wrong' ]

df = df.groupby('user_id', as_index=False)\
  .agg({'timestamp':'max'})\
  .rename(columns={'timestamp':'last_wrong_timestamp'})
df.head()

   user_id  last_wrong_timestamp
0        3            1444568755
1        5            1499859715
2        8            1480604128
3       14            1436368601
4       16            1513104380

In [6]:
# inner - потому что нам нужны только те, у которых есть хоть один степ
df_mix = pd.merge(submission_data, df, on='user_id', how='inner',
                  left_index=False, right_index=False, sort=False,
                  suffixes=('_x', '_y'), copy=True, indicator=False,
                  validate=None)
df_mix_last_wrong = df_mix[ (df_mix['last_wrong_timestamp'] == df_mix['timestamp']) 
                          & (df_mix['submission_status'] == 'wrong')]
df_mix_last_wrong

        step_id   timestamp submission_status  user_id  last_wrong_timestamp
45        33025  1479734102             wrong    15853            1479734102
154       32795  1436206485             wrong     6640            1436206485
281       33734  1436273469             wrong     8624            1436273469
628       33685  1435854430             wrong    24821            1435854430
782       33669  1436772595             wrong    16503            1436772595
...         ...         ...               ...      ...                   ...
503896   120745  1500154509             wrong     3310            1500154509
503898   120745  1501946959             wrong     2615            1501946959
503899   120745  1506348153             wrong    15253            1506348153
503900   120745  1523035316             wrong     1424            1523035316
503901   120745  1523382825             wrong     9422            1523382825

[7766 rows x 5 columns]